html, body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    color: #222;
}

nav {
    background: linear-gradient(to bottom, #87CEFA, #f0f8ff);
}

main {
    flex: 1;
}

.nav-link {
    border: #203a43 solid;
    border-radius: 1rem;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.nav-link:hover {
    border: #0f2027 solid;
    background: linear-gradient(to bottom, #87CEFA, #f0f8ff);
}

.navbar-toggler {
    border: #fda085 solid;
    border-radius: 1rem;
}

.navbar-toggler:hover {
    background-color: #ff5858;
    border: #fda085 solid;
}

.card {
    border-radius: 1rem;
}

.get-weather-btn {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    border-radius: 1rem;
    border: #2c5364 solid;
}

.get-weather-btn:hover {
    border: #87CEFA solid;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    color: #eee;
}

.weather-info {
    margin-top: 2rem;
}

.weather-card {
    transition: background 0.6s ease-in-out, color 0.3s ease;
    padding: 20px;
    border-radius: 1rem;
}

.weather-details {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.bi-arrow-up {
    display: inline-block;
}

.daytime {
    background: linear-gradient(to bottom, #87CEFA, #f0f8ff);
    color: #222;
}

.nighttime {
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    color: #eee;
}

.open-weather-credits {
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    color: #eee;
    border-radius: 1rem;
    padding: 1rem;
}
